@import "placeholder";
@import "searchForm";
@import "subscriptionForm";

// form control
.form-control {
  @extend %placeholder;
  &:focus {
    @extend %box-shadow-none;
  }
  &.is-valid, &.is-invalid {
    background: none;
    &:hover, &:focus {
      @extend %box-shadow-none;
    }
  }

}