%placeholder {
  &::-webkit-input-placeholder {
    color: $gray-500;
    font-size: $input-placeholder-font-size;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $input-placeholder-font-size*0.8;
    }
  }
  /* WebKit, Blink, Edge */
  &:-moz-placeholder {
    color: $gray-300;
    font-size: $input-placeholder-font-size;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $input-placeholder-font-size*0.8;
    }
  }
  /* Mozilla Firefox 4 to 18 */
  &::-moz-placeholder {
    color: $gray-300;
    font-size: $input-placeholder-font-size;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $input-placeholder-font-size*0.8;
    }
  }
  /* Mozilla Firefox 19+ */
  &:-ms-input-placeholder {
    color: $gray-300;
    font-size: $input-placeholder-font-size;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $input-placeholder-font-size*0.8;
    }
  }
  /* Internet Explorer 10-11 */
  &::-ms-input-placeholder {
    color: $gray-300;
    font-size: $input-placeholder-font-size;
    font-weight: 100;
    @include media-breakpoint-down(sm) {
      font-size: $input-placeholder-font-size*0.8;
    }
  }
  /* Microsoft Edge */
}