.searchForm {
  display: block;
  width: 100%;
  position: relative;
  padding: 50px 0 10px;

  // input field
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-300;
    min-height: 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    color: $gray-600;

    @extend %placeholder
  }

  // search button
  .button-group {
    padding-top: 2rem;
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
    > .btn-lg {
      padding: 1rem 4rem;

      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        padding: 0.7rem;
      }
    }
  }
}