.ticket-not-found-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  .content {
    position: relative;
    width: 100%;
    @include media-breakpoint-up(sm) {
      padding: 100px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }
    p {
      line-height: 2;
    }
  }
  .close {
    border: 2px solid $gray-600;
    border-radius: 50px;
    font-size: 40px;
    font-weight: 300;
    padding: 5px 12px;
    padding-top: 2px;
    position: absolute;
    right: 70px;
    top: 40px;
    @include media-breakpoint-down(sm) {
      right: 5%;
      top: 2%;
      font-size: 30px;
      padding: 3px 10px;
    }
    @include transition(all, 0.3s);
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &.animate-top {
    top: -100%;
    @include transition(top, 0.3s);
    &.active {
      top: 0;
    }
  }
  &.animate-right {
    right: -100%;
    @include transition(right, 0.3s);
    &.active {
      right: 0;
    }
  }
  &.animate-left {
    left: -100%;
    @include transition(left, 0.3s);
    &.active {
      left: 0;
    }
  }
}