.notice {
  background-color: #f8c572;
  padding: 14px 20px 21px;
  .notice-top-section {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
  }
  .headings{
    padding-top: 35px;
  }

  // Media Query

  @media (max-width: 1200px){
    padding: 14px 20px 33px;
    .notice-top-section {
      h4 {
        font-size: 18px;
      }
    }
    .headings{
      h2 {
        font-size: 28px;
      }
    }
  }
  @media (max-width: 991px){
   .notice-top-section {
     h4 {
       font-size: 14px;
     }
   }
    .headings{
      padding-top: 18px;
      h4 {
        font-size: 17px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }

} //Notice close