#tickets {
  .col-md-6, .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
.ticket {
  .list-group-item {
    border: 0;
    background-color: #fad7a0;
    border-radius: 0;

  }
  .dolor-text {
    font-weight: bold;
    font-size: 20px;
  }

  .list-group-item{
    &:nth-child(1) {
      background-color: #f9f1e3;
    }
    &:nth-child(4) {
      font-size: 25px;
      font-weight: bold;
    }
  }

  .total {
    &.dolor-text {
      font-size: 50px;
    }
  }

  .list-group {
    font-family: 'Roboto', sans-serif;
    .list-group-item {
      .due-date {
        font-size: 23px;
      }
    }
  }

}
// Media Query
@media (max-width: 991px){
  .ticket {
    .list-group {
      .list-group-item {
        .dolor-text {
          font-size: 14px;
        }
        font-size: 14px;
        .due-date {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  #tickets {
    .col-md-6, .col-md-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}



// custom Tooltip design
.custom-tooltip {
  padding: 12px 20px 1px;
  background-color: #e0db9b;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  &:after {
    content: "";
    left:30px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #e0db9b transparent transparent

  }

}