// Color system
$theme-colors: (
        'primary':#925586,
        'blue': #007bff
);


@import "../bootstrap4.2/variables";

// links
$link-color: lighten(theme-color("blue"),10%);

// font family
$font-family-sans-serif: 'Quicksand', sans-serif;


// Headings
$h1-font-size:                $font-size-base * 3;
$headings-font-weight:        300;


// buttons
$btn-border-radius-lg: 0;


// inputs
$input-border-radius-lg:   0;
$input-border-color : $warning;

//placeholder
$input-placeholder-font-size:               20px;